@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: #fff;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/*spinner svg style for when tx is in process*/
.web3button svg circle{
  stroke: #0A4736;
}

#tooltip-target:target #tooltip-content { display: block; }


